<% @title = "Home" %>

<h2 class="page-title">scripty2 API</h2>

<div class="page-introduction">
  <p>Welcome to the scripty2 API Documentation.</p>
  
  <p>
    This complete rewrite of the venerable script.aculo.us
    library is a prerelease alpha version and not meant for production use,
    although it is used in live projects like <a href="http://twistori.com">twistori</a>
    and <a href="http://letsfreckle.com">freckle</a> and it works great!).
  </p>
  
  <p>
    <b>Note for alpha 1:</b> This alpha release concentrates exclusively on the new effects engine.
  </p>
  
  <p>
    scripty2 is divided into three parts, <em>core</em>, <em>fx</em>, and <em>ui</em>.
  </p>
</div>


<div class="section section-sections">
  <div class="section-title">
    <h3>Sections</h3>
  </div>
  
  <div class="section-content">
    <ul class="section-list">
      <% @root.sections.each do |section| %>
      <li>
        <h4>
          <a href="<%= path_to_section(section) %>"><%= section.name %></a>
        </h4>
        <p><%= htmlize(section.short_description) %></p>
      </li>      
      <% end %>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">
    <h3>Getting started</h3>
  </div>
  
  <div class="section-content">
    <ul class="section-list">
      <li>
        <p>
          scripty2 depends on Prototype 1.6.1_rc3 or later. For your convenience, a development copy
          and a minified version of Prototype is included in the distribution.
        </p>
        <p>
          To use scripty2, include these lines in your HTML:
          <pre><code>&lt;script src=&quot;prototype.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;s2.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
        </p>
      </li>
    </ul>
  </div>
</div>
