<% @title = "Home" %>

<h2 class="page-title">scripty2 API</h2>

<div class="page-introduction">
  <p>Welcome to the scripty2 API Documentation.</p>
    
  <p>
    scripty2 is divided into three parts, <em>core</em>, <em>fx</em>, and <em>ui</em>,
    and supports IE6+, Safari 3+, Firefox 3+, Chrome, Opera 10 and most WebKit-based browsers.
  </p>
  
  <p>
    This rewrite of the script.aculo.us library is in beta. While we advise to proceed with caution,
    scripty2 used in many live, production projects like <a href="http://twistori.com">twistori</a>
    and <a href="http://letsfreckle.com">freckle</a> and it works great!
  </p>  
  
  <p style="color:orange">
    <b>Beta notice:</b> scripty2 is currently in beta.
    The S2.UI API is not final and subject to change.
  </p>
</div>


<div class="section section-sections">
  <div class="section-title">
    <h3>Sections</h3>
  </div>
  
  <div class="section-content">
    <ul class="section-list">
      <% @root.sections.each do |section| %>
      <li>
        <h4>
          <a href="<%= path_to_section(section) %>"><%= section.name %></a>
        </h4>
        <p><%= htmlize(section.short_description) %></p>
      </li>      
      <% end %>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">
    <h3>Getting started</h3>
  </div>
  
  <div class="section-content">
    <ul class="section-list">
      <li>
        <p>
          scripty2 depends on Prototype 1.7 or later. For your convenience, a development copy
          and a minified version of Prototype is included in the distribution.
        </p>
        <p>
          To use scripty2, include this line in your HTML:
          <pre><code>&lt;script src=&quot;prototype.scripty2.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
        </p>
        <p>
          For debugging, you can also include the libraries seperately:
          <pre><code>&lt;script src=&quot;prototype.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;s2.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">
    <h3>Tutorials &amp; Demos</h3>
  </div>
  
  <div class="section-content">
    <ul class="section-list">
      <li>
        <p>
          To get started quickly, see our <a href="http://mir.aculo.us/2010/04/30/build-a-flash-like-game-with-scripty2/">tutorial for building a simple memory puzzle game</a>.
        </p>
        <p>
          In additional, there are several <a href="http://scripty2.com/demos/cards/">demos on the scripty2 website</a>.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="section-title">
    <h3>Help &amp; Community</h3>
  </div>
  
  <div class="section-content">
    <ul class="section-list">
      <li>
        <p>
          Want to discuss? Share feature ideas, problems, suggestions, praise?
          You're welcome to do so on the <a href="http://groups.google.com/group/scripty2">scripty2 Google Group</a>.
        </p>
        <p>
          Found a genuine bug? 
          Please report in detail on our <a href="https://prototype.lighthouseapp.com/projects/10606-scripty2">Lighthouse bug tracker.</a>.
        </p>
        <p>
          Interested in development? Check out the <a href="http://github.com/madrobby/scripty2">scripty2 repository on Github</a>.
        </p>
      </li>
    </ul>
  </div>
</div>
