body, div, p, h1, h2, h3, ul, ol, span, a, table, td, form, img, li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 0.8em;
  padding-top: 20px;
}

code, tt, kbd {
  /* ANYTHING BUT COURIER */
  font-family: 'Panic Sans', 'Bitstream Vera Sans Mono', Menlo, Monaco, 'Andale Mono', 'Lucida Console', monospace;
  font-size: 12px;
}

h1 code, h2 code, h3 code {
  font-size: 100%;
}

kbd {
  color: #fff;
  background: #65450d;
  border: 1px solid #65450d;
  padding: 1px;
}

h1.logo {
  width: 175px;
  height: 54px;
  background: transparent url(../images/header-logo-small.png) no-repeat 50% 50%;
  margin: 0 auto;
}

  h1.logo span { display: none; }
    
.navigation {
  background: #6c8f3f;
  color: #fff;
}

  .navigation h2 {
    text-align: center;
    margin: 0 0 10px;
  }
    
.test-list {
  border: 5px solid #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  
  padding: 5px;
  background: #e3ffbe;  
  color: #65450d;
}

  .test-list h3 {
    color: #ff9c00;
    font-size: 23px;
    margin: 0 0 5px;
  }
  
  .test-list ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
  }
  
    .test-list ul li {
      margin: 0 0 3px;
    }
  
  .test-list a {
    color: #65450d;
  }


.description {
  margin: 10px 0;
  border: 5px solid #6c8f3f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  padding: 5px;
  background: #e3ffbe;  
  color: #65450d;
}
  
  .description p {
    margin: 5px 0;
  }

  .description ul {
    margin: 10px 0;
    padding: 0 0 0 20px;
  }
  
    .description ul li {
      line-height: 140%;
      margin: 0 0 5px;
    }
  
  .description strong {
    text-transform: uppercase;
    background: #b6de78;
    padding: 0 2px;
    border: 1px solid #6c8f3f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    white-space: nowrap;
  }
  
  #theme_switcher {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #444;
    padding: 5px 10px;
    z-index: 10;
  }
  
    #theme_switcher ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
    
      #theme_switcher li {
        float: left;
        padding-right: 10px;
        color: #eee;
      }
      
    #theme_switcher a,
    #theme_switcher a:link,
    #theme_switcher a:visited {
      color: #ccc;
    }


.functional-test {
  padding: 0 15px;
  margin-bottom: 25px;
  border: 2px solid #ccc;
  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
}

fieldset {
  padding: 10px 15px;
  margin: 0 0 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

  legend {
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px;
  }